[Unit]
Description=Bluetools Agent Service

[Service]
ExecStart=bt-agent -c NoInputNoOutput
Restart=always
User=pi

[Install]
WantedBy=multi-user.target